<div class="l-sidebar toggleSlideHide" (click)="slide()" id="slidebar">
  <div class="logo">
    <div class="img-content">
        <img src="https://via.placeholder.com/150" alt="">
        <hr>
    </div>
  </div>
  <div class="l-sidebar__content">
    <nav class="c-menu js-menu">
      <ul class="list-unstyled one">
        <li class="c-menu__item is-active" title="Add Video">
            <div class="img-content">
                <!-- <img src="https://via.placeholder.com/150" alt=""> -->
                <a routerLink="/video-controll">فيديوهات</a>
            </div>
        </li>
        <li class="c-menu__item has-submenu" title="Add Audio">
            <div class="img-content">
                <!-- <img src="https://via.placeholder.com/150" alt=""> -->
                <a routerLink="/audio-controll">صوتيات</a>
            </div>
        </li>
        <li class="c-menu__item has-submenu" title="Return my website">
          <div class="img-content">
              <!-- <img src="https://via.placeholder.com/150" alt=""> -->
              <a routerLink="/">الذهاب الى واجهة المستخدم</a>
          </div>
      </li>
      </ul>
    </nav>
  </div>
</div>
