<div class="video">
  <div class="container-fluid">
    <div class="d-flex justify-content-between flex-button">
      <div class="one">
        <input type="text" class="form-control"
        placeholder="البحث فى الفيديوهات" name="searchTerm" [(ngModel)]="searchTerm">
      </div>
      <div class="two">
        <button class="btn btn-primary" (click)="helperService.openDialog(name)">انشاء فيديو جديد</button>
      </div>
    </div>

    <div class="audios pt-5">
      <div class="row">
        <div class="col-md-4 col-lg-3 pt-4" *ngFor="let video of videos | videosFilter: searchTerm">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{video.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{video.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="helperService.openDialog(updateAudioTemplate)">تعديل</button>
              <button (click)="deleteVideo(video._id)" mat-button>حذف</button>
            </mat-card-actions>
            <ng-template #updateAudioTemplate>
              <app-edit-video [video]="video" [videos]="videos"
                             (change)="refreshContentEdit(videos)"></app-edit-video>
            </ng-template>
          </mat-card>
        </div>
      </div>
      <div *ngIf="totalPost > 17">
          <mat-paginator [length]="totalPost"
          [pageSize]="postsPerPage"
          [pageSizeOptions]="pageSizeOption"
          (page)="onChangePage($event)">
          </mat-paginator>
      </div>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#9344d4d"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">
      {{state}}
    </p>
  </ngx-spinner>
</div>
<ng-template #name>
  <app-add-video [audioInfo]="videos"
  [startRefresh]="startRefresh"
  (change)="refreshVideos({startRefresh: startRefresh})"></app-add-video>
</ng-template>
