<div class="container content-reset">
  <div class="row m-3 justify-content-center reset-container">
    <div class="col-md-9">
      <form [formGroup]="resetPasswordDto" novalidate>
        <div class="row mt-1 mb-1">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" [type]="passwordHide ? 'password' : 'text'" matInput formControlName="newPass">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passwordHide">
              <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="alert alert-danger" *ngIf="resetPasswordDto.get('newPass').touched && !resetPasswordDto.get('newPass').valid">
          <div *ngIf="resetPasswordDto.get('newPass').errors.required">الباسورد مطلوب</div>
          <div *ngIf="resetPasswordDto.get('newPass')?.errors['minlength']">الباسورد ينبغى ان لا يقل عن ستة قيم</div>
          <div *ngIf="resetPasswordDto.get('newPass')?.errors['pattern']">الباسورد لا يتطابق مع النمط المطلوب</div>
        </div>
        <div class="row mt-1 mb-1 justify-content-end">
          <button [disabled]="resetPasswordDto.invalid" type="button" (click)="resetWithNewPassword()" class="btn btn-outline-success pull-right"
                  style="width:auto">
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
