<div class="add-audio">
  <h2 mat-dialog-title>
    مقطع صوتى جديد
  </h2>
  <mat-dialog-content class="mat-typography">

    <form [formGroup]="audioDto" (ngSubmit)="createNewAudio()" novalidate>

      <div class="form-group">
        <input formControlName="title" type="text" class="form-control text-right" placeholder="اسم المقطع الصوتى" required>
      </div>

      <div class="form-group">
        <input formControlName="description" type="text" class="form-control text-right" placeholder="معلومات اضافيه توضيحيه">
      </div>

      <div class="form-group">
        <div class="custom-file">
          <input type="file" accept="audio/*" class="custom-file-input" id="audio" formControlName="audio" name="audio"
                  ng2FileSelect
                  [uploader]="uploader" (change)="onAudioSourceSelect($event)" required>
          <label class="custom-file-label" for="audio">{{selectedAudio}}</label>
        </div>
      </div>

      <div class="content-alert">
        <div class="alert alert-danger" *ngIf="audioDto.get('title').touched && !audioDto.get('title').valid">
          <div *ngIf="audioDto.get('title').errors.required">عنوان المقطع الصوتى مطلوب</div>
        </div>

        <div class="alert alert-danger" *ngIf="audioDto.get('audio').touched && !audioDto.get('audio').valid">
          <div *ngIf="audioDto.get('audio').errors.required">المقطع الصوتى مطلوب</div>
        </div>
      </div>

      <button [disabled]="audioDto.invalid" style="width: 120px;" mat-raised-button color="primary" type="submit">انشاء</button>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="helperService.hideDialog()" mat-raised-button color="warn" style="width: 120px;" type="button">
      اغلاق
    </button>
  </mat-dialog-actions>

  <div class="row justify-content-center mt-1 mb-1" *ngIf="viewProgressBar">
    <div class="col-md-10">
      <p class="lead text-center">
        انتظر من فضلك
      </p>
      <mat-progress-bar class="mt-1 mb-1" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

</div>
