<div class="home">
  <div class="container">
    <div class="content">
      <h1 class="text-center h1-home">قال رسول الله صلى الله عليه وسلم: (إِذَا مَاتَ الإنْسَانُ انْقَطَعَ عنْه عَمَلُهُ إِلَّا مِن ثَلَاثَةٍ: إِلَّا مِن صَدَقَةٍ جَارِيَةٍ، أَوْ عِلْمٍ يُنْتَفَعُ بِهِ، أَوْ وَلَدٍ صَالِحٍ يَدْعُو له).</h1>
      <div class="content-button text-center">
        <button routerLink="/video/all-videos" class="one">الدخول لصفحه الخطب</button>
        <button routerLink="/audio/all-audios" class="two">الدخول لصفحه القرآن</button>
      </div>
    </div>
  </div>
</div>
